
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel review page</title>
    <style>
        #experts review{
            display:contents

        }
    </style>
</head>
<body>
<section>
    <h1>Expert reviews</h1>
    <div class="container">
        <div class="col-md-3" id="reviews">
            <div class="col-md-3">
                <p class="about-para mt-2" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Rooms have preserved their period grandeur, with high ceilings, huge windows, Andalusian tile, and exposed mahogany beams.</p>
                <p class="about-para mt-2" style="font-style: italic; font-weight: 800;">Jetsetter~</p>
            </div>
            <div class="col-md-3">
                <p class="about-para mt-2" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">It was a convent for many years, and today it's the neighborhood's principal upscale hotel, offering elegant rooms and suites filled with Spanish antique treasures and modern amenities.</p>
                <p class="about-para mt-2" style="font-style: italic; font-weight: 800;">oyster~</p>
            </div>
            <div class="col-md-3">
                <p  class="about-para mt-2" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ">Historic monument,exquisite restaurant, meeting place, coffee bar;it is the most complete atmospheric and multifaceted hotel</p>
                <p class="about-para mt-2 " style="font-style: italic;font-weight: 800;">Slime~</p>
            </div>
        </div>

    </div>
    <div>
        
</body>
</html>

